body {
    padding: 0px;
}
.body-container {
    padding: 10px;
}
.nav{
    background-color: #232f3e;
    padding: 8px 9px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color:darkgray;
}
h1 {
    color: white;
}