{% extends "auctions/layout.html" %}

{% block title %}Auctions - Categories{% endblock %}

{% block body %}
    <h2>Categories</h2>
    <div class="row mx-3">
        {% for category in categories %}
            <div class="card m-2" style="width: 350px;">
                <div class="card-body mx-auto">
                    <h3 class="card-title">{{ category }}</h3>
                    <img class="card-img mx-auto d-block mx-3" src="{{ category.imageUrl }}" alt="{{ category }}">
                </div>
                <a class="card-link stretched-link" href="{% url 'filterbyCategories' category %}"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
