{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row mx-3">
        {% for category in categories %}
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top mx-auto d-block" src="..." alt="{{ category }}" style="width: 6rem; height: 6rem;">
                <div class="card-body">
                    <a href="{% url 'filterbyCategories' category %}" class="stretched-link">{{ category }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
