{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'showCategories' %}" method="POST">
        {% csrf_token %}
        <select name="category" id="category" required>
            <option value="" selected disabled>Filter by...</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Apply filter</button>
    </form>
    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mx-3" style="width: 18rem; margin-bottom: 2rem;">
                <img class="card-img-top mx-auto d-block" src="{{ listing.imageUrl }}" alt="{{ listing.imageUrl }}" style="width: 6rem; height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'listings' id=listing.id %}" class="stretched-link"></a>
                </div>
                <div class="card-footer">{{ listing.price }}</div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}
