{% extends "auctions/layout.html" %}

{% block body %}
    {% if category %}
        <h2>Active Listings: {{ category }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}
    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top mx-auto d-block" src="{{ listing.imageUrl }}" alt="{{ listing.imageUrl }}" style="width: 6rem; height: 8rem; margin-bottom: 1rem;">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <strong class="card-text">${{ listing.price|floatformat:2 }}</strong>
                    <a class="card-link stretched-link" href="{% url 'listings' id=listing.id %}"></a>
                </div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}
