{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
        {% if user.is_authenticated %}
            {% if isWatching %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Add to Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <h2>Listing: {{ listing.title }}</h2>
    <img src="{{ listing.imageUrl }}" alt="listing.title" height="200">
    <p>{{ listing.description }}</p>
    <h4>${{ listing.price }}</h4>
    <p>Owner: {{ listing.owner }}</p>
{% endblock %}