{% extends "auctions/layout.html" %}

{% block title %}Auctions - Watchlist{% endblock %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="row mx-3">
        {% for listing in userWatchlist %}
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top mx-auto d-block" src="{{ listing.imageUrl }}" alt="{{ listing.imageUrl }}" style="width: 6rem; height: 8rem; margin-bottom: 1rem;">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a class="card-link stretched-link" href="{% url 'listings' id=listing.id %}"></a>
                    <strong class="card-text">${{ listing.price|floatformat:2 }}</strong>
                </div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}
